# Node.js
node_modules/
dist/

# Angular CLI
.angular/
.vscode/

# Compiled source #
*.class

# Log files #
*.log
logs/
*.pid
*.seed
*.pid.lock

# IDEs and editors #
.idea/
*.iml
*.sublime-workspace

# Maven specific #
target/

# Temporary files #
*.tmp
*.temp

# System files #
.DS_Store
Thumbs.db

# Environment files #
.env
.env.*

# IntelliJ IDEA specific #
*.ipr
*.iws
*.bak
*.swp
out/

# Build directories #
build/

# Ignore specific files
02-backend/sb-ecommerce/src/main/resources/application.properties
03-frontend/angular-ecommerce/src/app/config/my-app-config.ts
